RewriteEngine On

# Forza HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect www → senza www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

RewriteEngine On

# Rimuove il percorso /assets/html/
RewriteRule ^terms-conditions/?$ src/assets/html/terms-conditions.html [L]

# Blocca accesso a .git
<DirectoryMatch "^.*\.git">
    Require all denied
</DirectoryMatch>

# Blocca accesso a file o cartelle xmrig
<DirectoryMatch "^.*xmrig">
    Require all denied
</DirectoryMatch>

# Blocca tutti i file nascosti che iniziano con punto
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# Impedisce download di backup o archivi
<FilesMatch "\.(bak|old|zip|tar\.gz|tar)$">
    Require all denied
</FilesMatch>


# Abilita compressione GZIP
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript application/json application/xml
</IfModule>

# Cache per contenuti statici
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 6 months"
  ExpiresByType image/jpeg "access plus 6 months"
  ExpiresByType image/png "access plus 6 months"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType application/font-woff2 "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(woff|woff2|ttf|otf)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
</IfModule>

